 @import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";

img {
    aspect-ratio: 1/1;
    }

.star {
    font-size: 2.5rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.3s all;
}

.star.active {
    color: gold;
}
