.card {
    height: 500px;
    overflow: hidden;
}

.card-text {
  text-align: start;
}

.col {
    transition: all 0.1s ease-in-out;
}

.col:hover {
    transform: scale(1.03);
    transition: all 0.1s ease-in-out;
}
