{% load static %}
<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>meetups</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/cover/">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400;500;600;700&display=swap"
          rel="stylesheet">


    <link href="{% static 'bootstrap-5.3.0-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

    {% block css %}
    {% endblock %}
    {% block head %}
    {% endblock %}
</head>
<body class="d-flex h-100 text-center">
<div class="cover-container d-flex w-100 h-100 pb-3 mx-auto flex-column">
    <header class="px-3 py-2">
        <div>
            <a class="nav-link" href=''><h2 class="float-md-start mb-0">meetups</h2></a>
            <nav class="nav nav-masthead justify-content-center float-md-end">
<!--                <div class="mx-5">-->
<!--                    <form class="d-flex" method="POST" action="{% url 'event_list' %}">-->
<!--                        {% csrf_token %}-->
<!--                        <input class="form-control me-2" type="search" name="searched" placeholder="Search" aria-label="Search">-->
<!--                        <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--                    </form>-->
<!--                </div>-->
                <a class="nav-link fw-bold py-1 px-0 {% if 'map' in request.path %} active {% endif %}"
                   aria-current="page" href="{% url 'event_map' %}"><h5>Map</h5></a>
                <a class="nav-link fw-bold py-1 px-0 {% if 'list' in request.path %} active {% endif %}"
                   href="{% url 'event_list' %}"><h5>List</h5></a>
                <div class="nav-item px-5 dropdown text-end">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <img src="https://icon-library.com/images/default-user-icon/default-user-icon-13.jpg" alt="mdo"
                             width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" href="{% url 'event_creation' %}">New meetup...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    {% block content %}
    {% endblock %}

</div>
<script src="{% static 'bootstrap-5.3.0-dist/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
