{% extends 'base.html' %}
{% load static %}
{% load id_is_in %}

{% block css %}
    <link href="{% static 'css/detail.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main>
        <div class="card">
            <div class="card-header">
                {{ event.location.x|json_script:"center_lng" }}
                {{ event.location.y|json_script:"center_lat" }}
                {% include 'events/embedded_map.html' with height="250px" width="100%"%}
            </div>
            <div class="card-body">
                <div class="row col-md-12 justify-content-center">
                    <div class="col-md-3 mb-4 mb-md-0">
                        <a href="#">
                            <img src="{{ image }}" class="rounded mx-auto d-block" style="max-width: 250px" alt="Beautiful Event">
                        </a>
                    </div>
                    <div class="col-md-3">
                        <h5 class="card-title my-2">{{ name }}</h5>
                        <p>{{ description }}</p>
                        <p><b>Where:</b> {{ address }}</p>
                        <p><b>Start:</b> {{ start_date }}</p>
                        {% if end_date %}
                            <p><b>End:</b> {{ end_date }}</p>
                        {% endif %}

                        {% for tag in tags %}
                            <span class="badge badge-pill bg-warning">{{ tag.name }}</span>
                        {% endfor %}
                    </div>
                    <div class="col-md-3">
                        <p>Participants
                            {% if desired_participants_number > 1 %}
                                {{ current_participants_number }}/{{ desired_participants_number }}
                            {% endif %}
                        </p>
                        <table class="table table-bordered table-hover" style="width:50%;margin: 0 auto;">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for participant in participants %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <th scope="row">{{ participant.username }}</th>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                        <div class="col-md-3 d-flex flex-column">
                        {% if request.user.is_authenticated %}
                            {% if request.user.id != created_by.id %}
                                {% if request.user.id|id_is_in:participants %}
                                    <form class="m-auto" action="{% url 'events:Events-event_leave' id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-secondary">Leave</button>
                                    </form>
{#                                    <div class="btn-group justify-content-center" role="group" aria-label="Rating">#}
{#                                        {% for i in '0123456789'|make_list %}#}
{#                                            <form action="{% url 'events:rate_an_event' id i|add:1 %}"#}
{#                                                  method="post">#}
{#                                                {% csrf_token %}#}
{#                                                <input type="hidden" name="value" value="{{ i|add:1 }}"/>#}
{#                                                <label class="star {% if rating_value >= i|add:1 %} selected active {% endif %}"#}
{#                                                       data-rating="{{ i|add:1 }}">#}
{#                                                    <i class="ion-ios-star"></i>#}
{#                                                    <input type="submit" hidden/>#}
{#                                                </label>#}
{#                                            </form>#}
{#                                        {% endfor %}#}
{#                                    </div>#}
{#                                    {% if rating_object %}#}
{#                                        <form class="m-auto" action="{% url 'events:remove_rating' id %}" method="post">#}
{#                                            {% csrf_token %}#}
{#                                            <button type="submit" class="btn btn-danger mt-auto">Remove my rating</button>#}
{#                                        </form>#}
{#                                    {% endif %}#}
                                {% else %}
                                    <form class="m-auto" action="{% url 'events:Events-event_register' id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success">Register</button>
                                    </form>
                                {% endif %}
                            {% else %}
                                <form class="m-auto" action="{% url 'events:event_edition' id %}" method="get">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success">Edit</button>
                                </form>
                                <form class="mt-2" action="{% url 'events:event_deletion' id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </div>
{#                    {% endwith %}#}
                </div>
            </div>
        </div>
    </main>

    <script>
        const stars = document.querySelectorAll('.star');

        stars.forEach((star, index) => {
            star.addEventListener('mouseover', () => {
                for (let i = 0; i <= index; i++) {
                    stars[i].classList.add('active');
                }
            });
            star.addEventListener('mouseout', () => {
                for (let i = 0; i < stars.length; i++) {
                    if (!stars[i].classList.contains('selected')) {
                        stars[i].classList.remove('active');
                    }
                }
            });
            star.addEventListener('click', () => {
                for (let i = 0; i < stars.length; i++) {
                    stars[i].classList.remove('selected');
                }
                for (let i = 0; i <= index; i++) {
                    stars[i].classList.add('selected');
                }
            });
        });

    </script>
{% endblock %}
