{% extends 'base.html' %}

{% block head %}
    {% load static %}
    {% load bootstrap4 %}
    {% load widget_tweaks %}
    {% bootstrap_javascript jquery='full' %}
    {{form.media}}
{%  endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>Edit meetup</h3>
                <form method="post" enctype='multipart/form-data' class="form-vertical">
                    {% csrf_token %}
                    {% bootstrap_form form layout="vertical" %}
                    {% bootstrap_form_errors form type='non_fields' %}
                    <button type="submit" class="btn btn-success">Save</button>
                    <a href="{{ view.get_success_url }}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
