{% extends 'events/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load widget_tweaks %}

{% block head %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
    {{form.media}}
{%  endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>Edit meetup</h1>
                <form method="post" enctype='multipart/form-data' {% if layout != 'vertical' %}class="form-{{ layout }}"{% endif %}>
                    {% csrf_token %}
                    {% bootstrap_form form layout=layout %}
                    {% bootstrap_form_errors form type='non_fields' %}
                    {% buttons submit='Save' reset="Cancel" %}{% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
