{% load static %}

{% block map %}

    {% if map_provider == "google" %}
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script>(g => {
            var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__",
                m = document, b = window;
            b = b[c] || (b[c] = {});
            var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams,
                u = () => h || (h = new Promise(async (f, n) => {
                    await (a = m.createElement("script"));
                    e.set("libraries", [...r] + "");
                    for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]);
                    e.set("callback", c + ".maps." + q);
                    a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
                    d[q] = f;
                    a.onerror = () => h = n(Error(p + " could not load."));
                    a.nonce = m.querySelector("script[nonce]")?.nonce || "";
                    m.head.append(a)
                }));
            d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n))
        })
        ({key: "{{ google_api_key }}", v: "beta"});</script>
        {#        pizza markers#}
        <script src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>
        <script src="{% static 'js/google_map.js' %}" type="text/javascript"></script>
    {% else %}
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru-RU&amp;apikey={{ yandex_api_key }}"
                type="text/javascript"></script>
        <script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
        <script src="{% static 'js/yandex_map.js' %}" type="text/javascript"></script>
        <style>
            [class*="ymaps-2"][class*="-ground-pane"] {
                -webkit-filter: hue-rotate(320deg);
            }
        </style>
    {% endif %}
    <style>
        #map {
            width: {{ width }};
            height: {{ height }};
            padding: 0;
            margin: auto;
        }
    </style>


    {{ events|json_script:"events-data" }}

    <div id="map"></div>

    <script id="events-data" type="application/json">
{
    "type": "FeatureCollection",
    "features": [
        {
            "type": "Feature",
            "properties":  {"name": "Monte  Amaro 2793", "pk": 1}
            "geometry": {
                "type": "Point",
                "coordinates": [14.0873373838, 42.091199112]
            }
        }
    ]
}
</script>

{% endblock %}
