{% extends 'events/base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d70220.08418282871!2d27.555399563637966!3d53.9047647206764!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sby!4v1688920793636!5m2!1sru!2sby"
            width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
{% endblock %}
