{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Sign Up{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Registration</h3>
            <form method="post" enctype='multipart/form-data' class="form-vertical">
                {% csrf_token %}
                {% bootstrap_form form layout="vertical" %}
                {% bootstrap_form_errors form type='all' %}
                <button type="submit" class="btn btn-success">Sign Up</button>
            </form>
            <a href="{% url 'core:login' %}?next={{ request.GET.next }}">Already have an account? Log in!</a>
        </div>
    </div>
</div>
{% endblock %}
