# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: mevent-ci

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main", "dev" ]

permissions:
  contents: read

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: "3.11"
      - name: Install pre-commit hooks
        run: |
          python -m pip install --upgrade pip
          pip install pre-commit
      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1

  build:
    needs: pre-commit  # Ensures build runs after pre-commit if you want dependencies between jobs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.11
        uses: actions/setup-python@v3
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          apt-get update && apt-get install -y --no-install-recommends binutils libproj-dev gdal-bin
          pip install -r requirements/testing.txt

      - name: Test with pytest
        run: |
          pytest -m "not asyncio"
          pytest -m asyncio
